# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# dependencies
/backend/node_modules

# public directories
/backend/public/hot
/backend/public/storage

# storage keys
/backend/storage/*.key

# vendor
/backend/vendor

# environment and config
/backend/.env
/backend/.env.backup
/backend/.phpunit.result.cache
/backend/docker-compose.override.yml
/backend/Homestead.json
/backend/Homestead.yaml

# logs
/backend/npm-debug.log
/backend/yarn-error.log

# IDEs and editors
/backend/.idea
/backend/.vscode
